*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    max-width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.calculatrice{
    background: tomato;
    display: flex;
    flex-direction: column;
}
